<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <div class="navbar">
        <a href="/shoes">Home</a>
        <a href="/shoes/new">New</a>
        <a href="/shoes/<%= shoe._id %>/edit">Edit</a>
        <a href="/user/logout">Logout</a>
    </div>
    <h1><%= shoe.name %></h1>
    <main>
        <div class="container">
            <img src="<%= shoe.img %>" alt="<%= shoe.name %>" id="show-img"><br>
            <div>
                PRICE: $<%= shoe.price %> <br>
                YEAR RELEASED: <%= shoe.yearReleased %> <br>
                COLORWAY: <%= shoe.colorway %> <br>
                OWNED: <%= shoe.isOwned ? "Yes" : "No" %> <br>
                RETRO: <%= shoe.isRetro ? "Yes" : "No" %> <br>
                <form action="/shoes/<%= shoe._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
            </div>
        </div>
    </main>
</body>
</html>